**/build/
**/dist/
**/nbproject/private/
**/.nbattrs
*.class
*.log
/target/
*.log
/.idea/
/*.iml
/out/
.DS_Store
Thumbs.db
.env
.env.*
application-local.yml
application-local.properties
/lombok.config
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
