server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gym_db
    username: postgres
    password: Password_123
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
