server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://ep-sweet-salad-ago9omdj-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require
    username: neondb_owner
    password: npg_Tlx5g2VmuiXB
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
